/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd,
ul {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  /* font-size: 15px; */
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* MY CSS */

  /* global elements */

.container {
  max-width: 1200px;
  margin: 0 auto;
  /* padding: 0 3vw;; */


  width: 90%;
  /* max-width: 1100px; */
  /* margin: 0 auto; */
  /* added for nav-toggle positioning */
  position: relative;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-size: 3rem;
  margin: 0 auto;
}

.item {
  padding-bottom: 2vh;
}

.nav__link {
  font-size: 1.4rem;
  font-family: 'Oswald', sans-serif;;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase; 
  color: white;
}

.nav__link--button {
  font-weight: 900;
  background-color: hsl(42, 42%, 61%);
  padding: .5em 1.5em;
  border-radius: 100px;
}

.nav__link:hover,
.nav__link:focus {
  opacity: .75; 
}

.nav__list--primary {
  margin-top: 2em;
}

.nav__list--secondary {
  margin-top: 3em;
  margin-bottom: .5em;
}


/* HEADER -- NAVIGATION BAR */

header {
  background-color: hsl(232, 14%, 21%);
  color: white;
  padding-bottom: 1vh;
  /* height: auto; */
  min-height: 3.5em;
}

header ul {
  text-align: center;
}

.fa-bars{
  font-size: 1.5rem;
  background-color: hsl(225, 7%, 47%);
  padding: .3em;
  margin: .3em;
  border-radius: 50%;
}

.nav-toggle {
  cursor: pointer;
  color: white;
  transition: opacity 250ms ease;
  position: absolute; 
  left: 0;
}

.nav-toggle:focus,
.nav-toggle:hover {
  opacity: .75;
}

.logo {
  margin: 0 auto;
  padding-top: .5rem;
}

.nav {
  visibility: hidden;
  height: 0;
  position: absolute;
}

.nav--visible {
  visibility: visible;
  height: auto;
  position: relative;
}

/* HERO  */

.hero{
  background-color: hsl(226, 15%, 27%);
  color: white;
  padding: 3vh 0;
}

.hero p {
  font-size: 1.3rem;
}

.hero .nav__link--button {
  margin-top: 3vh;
  /* margin: 10vw 0 ; */
}

span {
  color: hsl(42, 42%, 61%);
}


/* INTRO */

.intro {
  background-color: hsl(0, 0%, 94%);
  text-align: center;
  padding: 3vh 0;
}
.intro .title  {
  font-size: 2rem;
  color:hsl(42, 42%, 61%)
}

/* MAIN  */

main .title {
  font-size: 2.4rem;
  color: hsl(42, 42%, 61%);
}

.sidebar {
  /* width: 75%; */
  margin: 0 auto;
  text-align: center;
  color: white;
  margin-top: 10vh;
}

.sidebar .title {
  font-size: 2em;
  color: white;
}

.sidebar .item {
  background-color: hsl(232, 14%, 21%);
  margin-bottom: 5vh;
  padding: 3em;
}

/* FOOTER  */

footer {
  background-color: hsl(226, 15%, 27%);
  color: hsl(225, 7%, 47%);
}

footer .main.title {
  font-size: 3rem;
  color: white;
  text-align: center;
  padding-top: 3vh;
  padding-bottom: 5vh;
}

footer .item {
  text-align: center;
  margin: 0 auto;
  width: 80%;
}

footer .item .title {
  font-size: 1.4rem;
  color: hsl(42, 42%, 61%);
}

footer .btn {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  text-decoration: none;
  text-transform: none; 
  color: hsl(225, 7%, 47%);
}


@media (min-width: 700px) {

  header .container {
    height: auto;
    display: flex;
    justify-content:space-between;
    /* align-items: center; */
  }
  
  .fa-bars {
    visibility: hidden;
  }

  .logo {
    margin: 0;
  }

  .nav-toggle {
    display: none;
} 

  .nav {
    visibility: visible;
    display: flex;
    height: auto;
    position: relative;
    align-items: center;
    margin: 0;
    justify-content: flex-end;
  }

  .nav__list {
    display: flex;
    margin: 0;
    justify-content: flex-end;
  }

  .nav__item {
    margin: 0;
    padding-right: 1.5em;
  }

  .nav__list--primary {
    padding-right: 3em;
  }

  .nav__list--secondary {
    margin: 0;
    padding: 0;
    align-items: center;
    /* position: relative; */
  }

  .sidebar {
    padding: 0;
    display: flex;
  }

  .sidebar .item {
    background-color: hsl(232, 14%, 21%);
    margin-bottom: 5vh;
    align-items: flex-start;
    justify-content: space-around;
    margin: 1vw;
    padding: 2vh;
  } 

}


@media (min-width: 1000px) {

  .container {
    width: 70%;
  }

.row {
  display: flex;
}
.sidebar {
  margin-top: 0;
  display: flex;
  flex-direction: column;
}

.intro .item {
  width: 50%;
  margin: 0 auto;
}

}